<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loh</title>
</head>
<body>
<form action="password">
    <select name="length">
        <option value="6">6</option>
        <option value="7" selected>7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>
    <br>
    <input type="checkbox" name="uppercase">Uppercase
    <br>
    <input type="checkbox" name="numbers">Numbers
    <br>
    <input type="checkbox" name="special">Special char
    <br>
    <input type="submit" value="GenPass">
</form>
<form action="about">
    <input type="submit" value="Описание">
</form>
</body>
</html>